# Chapter 1: Introduction to R

## 1.1 Expression

For example: numerical calculation

In [ ]:
2.33+10
4.69*2/0.3
9.3+2.3/0.4

In [ ]:
#Exercise 1.1: Create one expression

## 1.2 Creating new variables

Variables are,in their simplest forms,like mathematical variables:they contain
values.You can assign values using either = or <-.

In [11]:
a1=2.33+10
data=4.69*2/0.3

my_observation<-9.3+2.3/0.4

In [ ]:
a1
data
my_observation

In [ ]:
#Exercise 1.2: Create new variable for exercise 1.1

## 1.3 Data Types and Type Conversion

**Numeric and Character**

In [17]:
#value
height <- 160.6
breakfast <- "No"

In [ ]:
#data type 
is.numeric(height)
is.character(breakfast)

In [ ]:
# Converting type

height <- c("180", " 156 ", "166")
is.numeric(height)

In [ ]:
height.1 <- as.numeric(height)
is.numeric(height.1)

In [ ]:
#Exercise 1.3
#change the data into numeric type

breakfastcost=c("10.60","6.80","3.20")

## 1.4 Vectors
A vector is a basic data structure which plays an important role in R programming. In R, a sequence of elements which share the same data type is known as vector. A vector supports logical, integer, double, character, complex, or raw data type.

In [36]:
# Example
v1=c(30,50,100)
v2=c(45,66,29)

In [ ]:
#Aritmetic operation

p1=v1+v2
p1

In [ ]:
#Exercise 1.4
#create 2 vectors for a1 and a2, then calculate a2-a1

## 1.5 Matrices

A matrix is a two dimensional data set with columns 
and rows.

A column is a vertical representation of data, while a row is a horizontal representation of data.

A matrix can be created with the matrix() function. Specify the nrow and ncol parameters to get the amount of rows and columns:

In [ ]:
#Create Matrix
M <- matrix(c(3:14), nrow = 4, ncol = 3)
print(M)

In [ ]:
# Elements are arranged sequentially by row.
M <- matrix(c(3:14), nrow = 4, byrow = TRUE)
print(M)

In [ ]:
# Elements are arranged sequentially by column.
N <- matrix(c(3:14), nrow = 4, byrow = FALSE)
print(N)

In [ ]:
# Define the column and row names.
rownames = c("row1", "row2", "row3", "row4")
colnames = c("col1", "col2", "col3")

P <- matrix(c(3:14), nrow = 4, byrow = TRUE, dimnames = list(rownames, colnames))
print(P)

### 1.5.1 Extract the elements

In [ ]:
#Extract the elements

#by row
M[3,]

#by column
N[,2]

#specify the location
P[2,2]

### 1.5.2 Sum and average across the columns and rows

function: *colSums(), rowSums(), colMeans() or rowMeans()*

In [ ]:
print(N)
colSums(N)

In [ ]:
print(N)
rowSums(N)

In [ ]:
## Exercise 1.5 Use colMeans() or rowMeans() for M matrix

## 1.6 Lists
A list in R can contain many different data types inside it. A list is a collection of data which is ordered and changeable.

To create a list, use the list() function:

In [ ]:
# List of strings
L1 <- list("grape", "banana", "mango","papaya","guava")

# Print the list
L1

In [ ]:
#Access Lists
L1[3]

In [ ]:
#Change Item Value
L1 <- list("grape", "banana", "mango","papaya","guava")
L1[2] <- "blackcurrant"

# Print the updated list
L1

In [ ]:
#Add List Items
L1 <- list("grape", "banana", "mango","papaya","guava")

L2<-append(L1, "orange")

L2

## 1.7 Data Frames

Data Frames are data displayed in a format as a table.

Data Frames can have different types of data inside it. While the first column can be character, the second and third can be numeric or logical. However, each column should have the same type of data.

Use the data.frame() function to create a data frame:

In [ ]:
# Example
v1 = c(1, 2, 3)
v2 = c(3, 4, 5)
df = data.frame(v1, v2)
df

In [ ]:
# Example 
#Create a data frame
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Print the data frame
Data_Frame

In [ ]:
#Summarize the Data
summary(Data_Frame)

In [ ]:
#Exercise 1.7: Create a simple data frame from 3 vectors.

## 1.8 Time series

Time Series in R is used to see how an object behaves over a period of time. In R, it can be easily done by ts() function with some parameters. 

Time series takes the data vector and each data is connected with timestamp value as given by the user. 

This function is mostly used to learn and forecast the behavior of an asset in business for a period of time. For example, sales analysis of a company, inventory analysis, price analysis of a particular stock or market, population analysis, etc.

Syntax:  ***objectName <- ts(data, start, end, frequency)***

where,

* data represents the data vector
* start represents the first observation in time series
* end represents the last observation in time series
* frequency represents number of observations per unit time. For example, frequency=1 for monthly data.

In [ ]:
# Example
# Consider the annual rainfall details at a place starting from January 2012.
# We create an R time series object for a period of 12 months and plot it.

# Get the data points in form of a R vector.
rainfall <- c(799,1174.8,865.1,1334.6,635.4,918.5,685.5,998.6,784.2,985,882.8,1071)

# Convert it to a time series object.
rainfall.timeseries <- ts(rainfall,start = c(2012,1),frequency = 12)

# Print the timeseries data.
print(rainfall.timeseries)

# Plot a graph of the time series.
plot(rainfall.timeseries)

## 1.9 Data wrangling

**Example:** In this example, we first loaded the "dplyr" library, then loaded the built-in "mtcars" dataset. We then selected specific columns of interest (mpg, hp, and drat), filtered rows where the mpg was greater than 20, grouped the data by horsepower, and calculated the mean mpg for each group. Finally, we sorted the data by mean mpg in descending order.

In [ ]:
install.packages("dplyr")

In [ ]:
# Load library
library(dplyr)

# Load sample data
data(mtcars)

head(mtcars, 6)

In [ ]:
# Select specific columns
mtcars_subset <- mtcars %>% select(mpg, hp, drat)
mtcars_subset

In [ ]:
# Filter rows
mtcars_subset_filtered <- mtcars_subset %>% filter(mpg > 20)
mtcars_subset_filtered

In [ ]:
# Group by a column and summarize
mtcars_grouped <- mtcars_subset_filtered %>% group_by(hp) %>% summarize(mean_mpg = mean(mpg))
mtcars_grouped

In [ ]:
# Sort by a column
mtcars_sorted <- mtcars_grouped %>% arrange(desc(mean_mpg))
mtcars_sorted

In [ ]:
#Exercise 1.9

# Load the mtcars dataset

# View the first 6 rows of the dataset

# Select only the columns "mpg" and "cyl"

# Rename the columns to "Miles_Per_Gallon" and "Cylinders"

# Filter the dataset to only include cars with 6 cylinders

# Sort the dataset by Miles_Per_Gallon in descending order

In [ ]:
#Answer
# Load the dataset
data(mtcars)

# View the first 6 rows of the dataset
head(mtcars)

# Select only the columns "mpg" and "cyl"
mtcars_subset <- mtcars[, c("mpg", "cyl")]

# Rename the columns to "Miles_Per_Gallon" and "Cylinders"
colnames(mtcars_subset) <- c("Miles_Per_Gallon", "Cylinders")

# Filter the dataset to only include cars with 6 cylinders
mtcars_subset <- mtcars_subset[mtcars_subset$Cylinders == 6, ]

# Sort the dataset by Miles_Per_Gallon in descending order
mtcars_subset <- mtcars_subset[order(-mtcars_subset$Miles_Per_Gallon), ]

# Chapter 2: Data Transformation

## 2.1 Data

In [ ]:
# Create a sample data frame
df <- data.frame(id = c(1,2,3,4,5),
                 group = c("A","B","A","B","A"),
                 value = c(10,20,30,40,50))
df

## 2.2 Group_by

In [ ]:
# Group by 'group' column and summarize the mean of 'value'
df %>% 
  group_by(group) %>% 
  summarize(mean_value = mean(value))

1.3 Filter

In [ ]:
# Filter rows where 'value' is greater than 25
df %>% 
  filter(value > 25)

## 2.3 Arrange

In [ ]:
# Arrange the data frame by 'value' in descending order
df %>% 
  arrange(desc(value))

## 2.4 Rename

In [ ]:
# Rename the 'value' column to 'new_value'
df %>% 
  rename(new_value = value)

## 2.5 Mutate

In [ ]:
# Mutate a new column 'squared_value' with the square of 'value'
df %>% 
  mutate(squared_value = value^2)

## 2.6 Summarize

In [ ]:
# Summarize the total 'value' for each 'group'
df %>% 
  group_by(group) %>% 
  summarize(total_value = sum(value))

## Exercise

In [ ]:
## Data
# Create a sample data frame
stock_prices <- data.frame(date = as.Date(c("2021-01-01", "2021-01-02", "2021-01-03", "2021-01-04", "2021-01-05")),
                           stock = c("AAPL", "AAPL", "GOOG", "GOOG", "AAPL"),
                           price = c(100, 110, 120, 130, 140),
                           volume = c(1000, 800, 600, 400, 200))
stock_prices



*   Group by 'stock' column and summarize the average price and volume
*   Filter rows where the price is greater than 120
*   Arrange the data frame by date in ascending order
*   Rename the 'price' column to 'closing_price'
*   Mutate a new column 'price_change' as the difference between current and previous price
*   Summarize the total volume for each stock

In [ ]:
##Group_by
# Group by 'stock' column and summarize the average price and volume
stock_prices %>% 
  group_by(stock) %>% 
  summarize(average_price = mean(price),
            average_volume = mean(volume))

In [ ]:
##Filter
# Filter rows where the price is greater than 120
stock_prices %>% 
  filter(price > 120)

In [ ]:
## Arrange
# Arrange the data frame by date in ascending order
stock_prices %>% 
  arrange(date)

In [ ]:
## Rename
# Rename the 'price' column to 'closing_price'
stock_prices %>% 
  rename(closing_price = price)

In [ ]:
##Mutate
# Mutate a new column 'price_change' as the difference between current and previous price
stock_prices %>% 
  mutate(price_change = price - lag(price))

In [ ]:
## Summarize
# Summarize the total volume for each stock
stock_prices %>% 
  group_by(stock) %>% 
  summarize(total_volume = sum(volume))